{% if settings[feature_group_enable] %}
{% cycle 'feature-list-header-separator': '','|','|','|','|','|','|'%} <span class="feature-list-header-item {% cycle 'feature-list-header-class':'feature-list-header-1','feature-list-header-2','feature-list-header-3','feature-list-header-4','feature-list-header-5','feature-list-header-6' %}">{{ settings[feature_group_name]}}</span>
{% endif%}