{% if settings[feature_group_enable] %}
  <div class="sixteen columns feature-list {% cycle 'feature-list-class':'feature-list-1','feature-list-2 hidden','feature-list-3 hidden','feature-list-4 hidden','feature-list-5 hidden','feature-list-6 hidden' %}">
    {% assign collection=settings[feature_group]%}
    {% assign p_c_handle = collections[collection].handle %}
    {% assign products_per_row = settings[feature_group_col] %}
    <!--settings.feature_group_per_row -->
    {% assign products_per_row_num = products_per_row | plus:0 %}
    {% assign limit=products_per_row_num |times:2 %}
    {% capture new_row %}
        <br class="clear product_clear" />
    {% endcapture %}
    {% for product in collections[collection].products limit:limit%}
      {% include 'product-thumbnail'%}
      {% if products_per_row_cycle_group == "2" %}
      {% cycle cycle_group: '', new_row %}
      {% elsif products_per_row_cycle_group == "3" %}
      {% cycle cycle_group:'', '', new_row %}    
      {% elsif products_per_row_cycle_group == "4" %}  
      {% cycle cycle_group:'', '', '', new_row %}
      {% elsif products_per_row_cycle_group == "5" %}  
      {% cycle cycle_group:'', '', '','', new_row %}
      {% endif %}
    {% endfor %}
    <br class="clear" />
  </div>  
{% endif %}

