{% if food-promotion-list-header != blank %}
{% cycle 'food-promotion-list-header-separator': '','|','|','|','|','|','|'%} 
<a href="/collections/food-court/promotion{%if collections[food-promotion-list-header].handle contains "asian" %}+asian{% elsif collections[food-promotion-list-header].handle contains "western"%}+western{% endif %}" title="{{ collections[food-promotion-list-header].title}}">
<span class="promotion-list-header-item {% cycle 'food-promotion-list-header-class':'food-promotion-list-header-1','food-promotion-list-header-2','food-promotion-list-header-3','food-promotion-list-header-4','food-promotion-list-header-5','food-promotion-list-header-6' %}">
 {{ collections[food-promotion-list-header].title | downcase }}
</span>
</a>
{% endif%}