{% if promotion-list-header != blank %}
<span class="promotion-list-header-item {% cycle 'promotion-list-header-class':'promotion-list-header-1','promotion-list-header-2','promotion-list-header-3','promotion-list-header-4','promotion-list-header-5','promotion-list-header-6' %}">{{ collections[promotion-list-header]].title }}</span>|
{% endif%}