{% if promotion-list-content != blank %}
  <div class="sixteen columns promotion-list {% cycle 'promotion-list-class':'promotion-list-1','promotion-list-2 hidden','promotion-list-3 hidden','promotion-list-4 hidden','promotion-list-5 hidden','promotion-list-6 hidden' %}">
    {% assign collection_display = settings['display_collection'] %}
    {% assign p_c_handle = collections[collection_display].handle %}
    {% assign products_per_row = settings[promotion_group_col] %} <!--settings.promotion_group_per_row -->
    {% assign product_found = false %}
    {% assign skip = false %}
    {% capture new_row %}
        <br class="clear product_clear" />
    {% endcapture %}
    {% for product in collections[collection_display].products %}

           {% for collection in product.collections %}        
            {%if collection.title == collections[promotion-list-content].title %}  
            {% include 'product-thumbnail' %}
            {% if products_per_row_cycle_group == "2" %}
              {% cycle cycle_group: '', new_row %}
            {% elsif products_per_row_cycle_group == "3" %}
              {% cycle cycle_group:'', '', new_row %}    
            {% elsif products_per_row_cycle_group == "4" %}  
              {% cycle cycle_group:'', '', '', new_row %}
            {% elsif products_per_row_cycle_group == "5" %}  
              {% cycle cycle_group:'', '', '','', new_row %}
            {% endif %}
            {%endif%}
         {% endfor %}

    {% endfor %}
    <br class="clear" />
  </div>  
{% endif %}
