<div class="sidebar four columns">

  	<h4 class="toggle">Chinese Products</h4>
    <ul style="list-style-type:none; margin-left:0;" class="toggle_list">
     {% for link in linklists.japanese-products-sidebar.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}
    </ul>
  
</div>