{% if collection.handle contains "food-court" and current_tags == blank %}
{% include 'sidebar-main-foodcourt'%}
{% else %}
{% include 'foodcourt-top-nav'%}

<div class="sixteen columns page_border fc_main" style="padding:0">
    {% if collection.handle contains "food-court" %}
	{% include 'sidebar-foodcourt' %}
	{% else %}
		{% include 'sidebar-foodcourt-res' %}
	{% endif %}
  
  
<div class="twelve columns fc_main alpha omega" id="view"> 
  {% if collection.handle == 'food-court-res' %}
   	{% include 'restaurant-view'%}
  {% else %}
 	{% include 'cuisine-view'%}
  {% endif %}
</div>

</div>

{% endif %}