{% layout none %}
<!DOCTYPE html>
<html>
<head>
  <title>Please Log In</title>
  <!-- Stylesheets -->
  {{ 'password.css' | asset_url | stylesheet_tag }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('html').on('webkitAnimationEnd', function(e) {
        $(this).addClass('visible');
      });
    });
  </script>
</head>
<body>
  <div id='container'>
    <div id='login'>
      <div>
        <h1 class="logo">{{ shop.name }}</h1>
          <p><span class="default-text">Will be opening soon...</span></p>
      </div>
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter store using password: </label>
        <input type='password' name='password' id='password' autofocus />
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
    </div>

    <div id='footer'>
      <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/settings/general">change your password settings</a></div>
      <div id='powered'>
        ©2001-2014, www.oSAVmo.com 
        <!--<a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow"></a>
        -->
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>